/* BASIC STYLES HERE */
.todo:hover {
    background-color: rgba(0, 0, 0, 0.123);

}

.text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.weather-hover:hover {
    cursor: pointer;
}

body {
    background-size: cover;
    background-position: center;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    color: white;
    font-size: medium;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text-bg {
    background-color: rgba(0, 0, 0, 0.374);
}

/* .quote-author {
    display: none;
}

.quote:hover {
    display: unset !important;
} */

#quote {
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 1em !important;
    font-weight: bold;
    padding: .6em .01em;
    background-color: none !important;
    border-radius: 16px;

}



.quote-author {
    opacity: 0;
    transition: all 1s ease-in-out;
}

#quote:hover .quote-author {
    opacity: 1;
}

.overflow {
    overflow: hidden;
    height: 20rem;

}

.overflow-y {
    overflow-y: scroll;


}

#listOfTodos {
    font-size: 18px !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5%;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}