/* BASIC STYLES HERE */
.todo:hover {
    background-color: rgba(0, 0, 0, 0.123);

}

.text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.weather-hover:hover {
    cursor: pointer;
}

body {
    background-size: cover;
    background-position: center;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    color: white;
    font-weight: bold;
}